body {
    background-color: #260016;
}

/* Começo da tela 1 do cadastro */
#cadastroTela1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.fundoForm {
    background-color: #E6DDBC;
    width: 57vw;
    height: 62vh;
    border-radius: 17px;
}
.fundoForm h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
}
.camposCadastro1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
input {
    width: 15vw;
}
.form1 {
    display: flex;
    flex-direction: column;
}
.form2 {
    display: flex;
    flex-direction: column;
}
.botoesCadastro1 {
    display: flex;
    justify-content: space-around;
}
.botoesCadastro1 a {
    text-decoration: none;
    color: white;
}
.botaoVoltar1 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
.botaoAvancar1 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
/* Fim da tela 1 do cadastro */

/* Começo da tela 2 do cadastro  */
#cadastroTela2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.fundoForm2 {
    background-color: #E6DDBC;
    width: 57vw;
    height: 65vh;
    border-radius: 17px;
}
.fundoForm2 h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
    font-size: 180%;
}
.fundoForm2 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 1%;
    text-align: center;
    font-size: 150%;
    padding: 0;
}
.camposCadastro2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}
.camposCadastro2 p {
   font-size: 100%; 
}
input {
    width: 15vw;
}
.form3 {
    display: flex;
    flex-direction: column;
}
.form3 span {
    font-size: 140%;
}
.form4 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.checkBox {
    width: 7vw;
    height: 3vh;
}

.botoesCadastro2 {
    display: flex;
    justify-content: space-around;
}
.botoesCadastro2 a {
    text-decoration: none;
    color: white;
}
.botaoVoltar2 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
.botaoAvancar2 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
/* Fim da tela 2 do cadastro  */

/* Começo da tela 3 do cadastro  */
#cadastroTela3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.fundoForm3 {
    background-color: #E6DDBC;
    width: 57vw;
    height: 65vh;
    border-radius: 17px;
}
.fundoForm3 h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
    font-size: 180%;
}
.fundoForm3 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 1%;
    text-align: center;
    font-size: 150%;
    padding: 0;
}
.camposCadastro3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}
.camposCadastro3 p {
   font-size: 100%; 
}
input {
    width: 15vw;
}
.form3 {
    display: flex;
    flex-direction: column;
}
.form3 span {
    font-size: 140%;
}
.form4 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.checkBox {
    width: 7vw;
    height: 3vh;
}

.botoesCadastro3 {
    display: flex;
    justify-content: space-around;
}
.botoesCadastro3 a {
    text-decoration: none;
    color: white;
}
.botaoVoltar3 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
.botaoAvancar3 {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
/* Fim da tela 3 do cadastro  */