body {
    background-color: #E6DDBC;
    margin: 0;
}

/* Começo do header */
header {
    background-color: #260016;
    height: 15vh;
}

.cabecalho {
    display: flex;
    color: white;
    padding: 1.5%;
    height: 1%;

}

.comeco {
    padding: 0.7%;
    color: white;
    margin-left: 6%;
    font-size: 16px;
    border: 1.2px solid white;
    display: flex;
    align-items: center;
    height: 4000%;

}

.fim {
    display: flex;
    justify-content: end;
    margin-left: 40%;
    font-size: 12px;

}

.fim img {
    height: 3000%;
    padding: 3%;
}

.menu {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 13px;
    margin-top: 15px;
    font-size: 13px;
    align-items: center;
}

.reta {
    border-left: 2px solid white;
    height: 20px;
    margin-top: 20px;
}

/* Fim do header */

/* Começo do .banner */
.container {
    display: flex;
    flex-direction: row;
}

.banner .container b {
    width: 84%;
    font-size: 40px;
    color: black;
}

.banner .container p {
    font-size: 17px;
    color: black;
    width: 310px;
    margin-top: 0;
    margin-bottom: 40px;
}

.botaoHome {
    font-size: 15px;
    width: 250px;
    height: 50px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}

.ladoEsquerdoHome {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    margin-left: 15%;
    width: 47%;
}

.ladoEsquerdoHome a {
    text-decoration: none;
    color: white;
}

.recomendacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.recomendacao a {
    font-size: 12px;
    width: 15vw;
    margin-left: 5%;
    text-align: center;
}

.recomendacao img {
    width: 54vh;
    height: 54vh;
    border-radius: 15px;
    margin-top: 10%;

}

.imgPlanta {
    width: 11vw;
    height: 28vh;
    margin-left: 88.6%;
}

/* Fim do banner */

/* Começo da tela O Projeto  */
.imgPlantaInvertida {
    width: 11vw;
    height: 28vh;
    margin-top: 0;
}

.telaProjeto {
    display: flex;
    flex-direction: row;
}

.textosProjeto {
    width: 85%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 8%;
    margin-left: 7%;
}

.textosProjeto b {
    width: 84%;
    font-size: 40x;
    color: black;
}

.textosProjeto p {
    width: 40vw;
    font-size: 25px;
}

/* Fim tela O Projeto */

/* Começo tela Sobre Mim */
.telaSobreMim {
    margin-top: 11%;
    display: flex;
    flex-direction: row;
}

.textosSobreMim {
    width: 25%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 8%;
    margin-left: 16%;
}

.textosSobreMim b {
    width: 74%;
    color: black;
}

.textosSobreMim p {
    width: 30vw;
    font-size: 25px;
}

.fotoEmily {
    height: 60vh;
    margin-top: 12%;
}

.plantaSobreMim {
    width: 11vw;
    height: 28vh;
    margin-top: 40%;
    margin-left: 5%;
}

/* Fim tela Sobre Mim */

/* Começo tela Valores */
.imgPlantaValores {
    width: 11vw;
    height: 28vh;
    margin-top: 0;
}

.telaValores {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.tituloECaixas {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.caixas {
    width: 100%;
    display: flex;
    flex-direction: row;   
}

.telaValores h1 b {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.caixaValor {
    width: 22vw;
    height: 47vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid #260016;
    margin: 5%;
}

.imgValores {
    width: 3vw;
    height: 9vh;
    margin-left:38%;
}

/* Fim tela Valores */

/* Começo da tela Fale Conosco */

.telaFaleConosco {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.titulosFaleConosco {
    margin-left: 15%;
}

.faleConoscoGeral {
    width: 80%;
    padding: 5%;
}

.formFaleConosco {
    width: 45%;
    border: 2px solid #260016;
    display: flex;
    margin-left: 47%;
    flex-direction: row;
    padding: 2%;
}

.formFaleConosco1 {
    padding: 2%;
}

.formFaleConosco2 {
    padding: 2%;
}

input {
    border: 1px solid #260016;
}

.botaoEnviarFaleConosco {
    font-size: 15px;
    width: 100px;
    height: 35px;
    border: 1px solid #e0e0e0;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}

/* Fim da tela Fale Conosco */

/* Começo footer */

footer {
    background-color: #260016;
    height: 22vh;
}