body {
    background-color: #E6DDBC;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* tela 1 */
.perfil1 {
    width: 100%;
    height: 100%;
}

.parteCimaPerfil {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.botaoLogo {
    display: flex;
    flex-direction: column;
}

.botaoVoltarHome {
    font-size: 15px;
    width: 100px;
    height: 32px;
    border: 1px solid #260016;
    color: white;
    border-radius: 40px;
    background-color: #260016;
    margin-left: 630%;
    margin-top: 15%;
}

.logoPequena {
    width: 3vw;
    height: 10vh;
    display: flex;
    margin-left: 680%;
    margin-top: 15%;
}

.informPerfil {
    width: 23%;
    height: 17%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 3%;
}

.inform1 {
    display: flex;

}

.inform2 {
    display: flex;
    flex-direction: column;
}

.inform2 p {
    margin: 0 0 0 0 ;
    display: flex;
    justify-content: center;
}


.imgPerfil {
    width: 5vw;
    height: 11.5vh;
}

.hello p {
    margin-top: 27%;
}

.sectionPerfil {
    width: 100%;
    height: 8vh;
    background-color: #260016;
    margin-top: 3%;
}

.reta {
    border-left: 2px solid white;
    height: 20px;
    margin-top: 20px;
}

.textosSection {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}

.textosSection a {
    text-decoration: none;
    color: white;
}

.fotos {
   width: 100%;
   height: fit-content;
}

.recomend {
    display: flex;
    flex-direction: row;
}

.recomendacoes1 {
    width: 18vw;
    height: 49vh;
    margin-top: 6%;  
    margin-left: 18%;
    border: 2px solid #260016;
}

.recomendacoes2 {
    width: 18vw;
    height: 49vh;
    margin-top: 6%;
    margin-left: 50%;
    border: 2px solid #260016;
}

#ultimaFoto {
   margin-bottom: 5%;
}

.informRecomendacoes {
    width: 8vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 3%;
}

.classificarRecomendacaoAnimais {
    width: 3.1vw;
    height: 6vh;
    border: 1px solid #da5fda;
    background-color: #da5fda;
}

.classificarRecomendacaoPaisagem {
    width: 3.1vw;
    height: 6vh;
    border: 1px solid #a882ee;
    background-color: #a882ee;
}

.classificarRecomendacaoFlores {
    width: 3.1vw;
    height: 6vh;
    border: 1px solid #ee82bd;
    background-color: #ee82bd;
}

.classif {
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.classif h2 {
    margin-top: 5%;

}

.botoesRecomendacao {
    display: flex;
    flex-direction: row;
}

#curtir {
    background-color: transparent;
    border-color: #2600004b;
    margin-left: 6%;
    border-radius: 50%;
}

/* tela 1 fim */

/* tela 2 */

.perfil2 {
    width: 100%;
    height: 100%;
}

.parteCimaPerfil2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logoPequena2 {
    width: 3vw;
    height: 10vh;
    display: flex;
    margin-left: 1700%;
    margin-top: 70%;
}

.informPerfil2 {
    width: 23%;
    height: 17%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 3%;
}

.inform3 {
    display: flex;

}

.inform4 {
    display: flex;
    flex-direction: column;
}

.inform4 p {
    margin: 0 0 0 0 ;
    display: flex;
    justify-content: center;
}


.imgPerfil2 {
    width: 5vw;
    height: 11.5vh;
    border-radius: 100%;
}

.sectionPerfil2 {
    width: 100%;
    height: 8vh;
    background-color: #260016;
    margin-top: 3%;
}

.reta2 {
    border-left: 2px solid white;
    height: 20px;
    margin-top: 20px;
}

.textosSection2 {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}

.textosSection2 a {
    text-decoration: none;
    color: white;
}

.botaoAttFavs {
    font-size: 15px;
    width: 100px;
    height: 32px;
    border: 1px solid #260016;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}

.imgFavoritos {
    margin-right: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    border: 2px solid #260016;
}

.graficoUsuario {
    width: 60vw;
    height: 55vh;
}

.botaoVerMais {
    font-size: 15px;
    width: 100px;
    height: 32px;
    border: 1px solid #260016;
    color: white;
    border-radius: 40px;
    background-color: #260016;
}
/* tela 2 fim  */